package ${fullPackage};

#foreach($pkg in ${imports})
import ${pkg};
#end

/**
 * <p>
 * ${entityName}Repository 接口
 * </p>
 *
 * @author ${author}
 * @date ${date}
 */
@Repository
public interface ${entityName}Repository extends JRepository<${entityName},${entityKeyType}> {

}

